statemachine/stock_trader.asl.json
{
    "Comment": "A state machine that does mock stock trading.",
    "StartAt": "Check Stock Value",
    "States": {
        "Check Stock Value": {
            "Type": "Task",
            "Resource": "${StockCheckerFunctionArn}",
            "Next": "Buy or Sell?"
        },
        "Buy or Sell?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.stock_price",
                    "NumericLessThanEquals": 50,
                    "Next": "Buy Stock"
                }
            ],
            "Default": "Sell Stock"
        },
        "Sell Stock": {
            "Type": "Task",
            "Resource": "${StockSellerFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 3,
                    "BackoffRate": 1
                }
            ],
            "Next": "Send message to Bank transaction queue"
        },
        "Buy Stock": {
            "Type": "Task",
            "Resource": "${StockBuyerFunctionArn}",
            "Next": "Send message to Bank transaction queue"
        },
        "Send message to Bank transaction queue": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "Parameters": {
                "QueueUrl": "${BankTransactionInputQueueUrl}",
                "MessageBody": {
                    "input.$": "$",
                    "taskToken.$": "$$.Task.Token"
                }
            },
            "ResultPath": "$.trasactionResult",
            "Next": "Send output to queue"
        },
        "Send output to queue": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage",
            "Parameters": {
                "QueueUrl": "${OutputQueueUrl}",
                "MessageBody.$": "$"
            },
            "ResultPath": null,
            "Next": "Send output to external api"
        },
        "Send output to external api": {
            "Type": "Task",
            "Resource": "${ApiCallerFunctionArn}",
            "ResultPath": "$.apiResult",
            "Next": "End"
        },
        "End": {
            "Type": "Pass",
            "OutputPath": "$.apiResult",
            "End": true
        }
    }
}